# Visual Studio Code local settings ignored
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Idea settings ignored
.idea/

# Logs
logs
*.log

# dotenv environment variables file
.env
.env.test

# Gatsby files
.cache/

# Vendor
vendor/

# Database credencials
db.ini

# Database
pokedex.sql

# DBlogs
dblogs.log

# Database credencials
db.ini